body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header-sis {
	background-color: #00672C;
	height: 60px;
}

.header-sis img {
	height: 40px;
	margin: 10px;
	display: inline-block;
}

.header-sis div {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    margin-top: -56px;
    color: white;
    font-size: 2.1em;
    font-weight: 400;
}