<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>São Bento Desinsetizadora</title>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <!-- <link href="min/custom-min.css" type="text/css" rel="stylesheet" > -->
    <link href="min/jquery-confirm-master/css/jquery-confirm.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css" type="text/css" rel="stylesheet" >

    <style type="text/css" media="screen">
        .google-maps {
            position: relative;
            padding-bottom: 450px; /*This is the aspect ratio*/
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            /* height: 100% !important; */
        }
    </style>
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <img class="img_logo" src="img/logo.png" />
                <div class="brand-logo">São Bento</div>
                <div class="brand-logo-linha2">Desinsetizadora</div>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Especializados em:</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Manejo de pragas urbanas</b>
                <b>Desinsetização</b>
                <b>Desratização</b>
                <b>Descupinização</b>
                <b>Sanitização de ambientes</b>
                <b>Higienização de reservatório de água</b>
                <b>Limpeza de caixa de gordura</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Pragas urbanas podem causar <span class="span_h2">doenças</span> e <span class="span_h2">prejuízo</span> para seu negócio e seu lar. A São Bento Desinsetizadora oferece as <span class="span_h2">melhores soluções</span> para controle e manejo integrado de pragas urbanas.</h2>
            </div>

            <div  class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <!-- <i class="mdi-image-flash-on"></i> -->
                    <img class="img_service" src="img/desinsetizacao_descupinizacao.png"></img>
                    <h5 class="promo-caption">Desinsetização e Descupinização</h5>
                    <p class="light center">Serviço que visa tratar áreas preventiva ou corretivamente contra insetos (baratas, aranhas, escorpiões, formigas, traças, cupins, entre outros).</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <!-- <i class="mdi-social-group"></i> -->
                    <img class="img_service" src="img/desratizacao2.png"></img>
                    <h5 class="promo-caption">Desratização</h5>
                    <p class="light center">Serviço que tem por objetivo controlar a infestação de ratos de um ambiente. Seja ele comercial ou residencial.</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <!-- <i class="mdi-hardware-desktop-windows"></i> -->
                    <img class="img_service" src="img/caixa_dagua.png"></img>
                    <h5 class="promo-caption">Limpeza de caixa d'água</h5>
                    <p class="light center">Procedimento que visa diminuir sujidade de caixas d'agua.</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <!-- <i class="mdi-hardware-desktop-windows"></i> -->
                    <img class="img_service" src="img/bacteria.png"></img>
                    <h5 class="promo-caption">Sanitização de Ambientes</h5>
                    <p class="light center">Serviço que visa a eliminação de 98% das bactérias, fungos e vírus existentes no ambiente. O processo de sanitização consiste na nebulização de quaternário de amônia nas superfícies (substância recomendada pelo Ministério da Saúde para este fim).</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Alguns de nossos clientes</h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/avicena.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Avicena Pharmacia<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="http://www.avicena.com.br/" target="_blank">Visite o site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Avicena Pharmacia <i class="mdi-navigation-close right"></i></span>
                        <p>Farmácia com manipulação de medicamentos, produtos naturais e cosméticos.</p>
                        <p>Os laboratórios foram construídos de acordo com as normas da Vigilância Sanitária, bem equipados, climatizados, com materiais e aparelhos de alta tecnologia, visando sempre a qualidade dos produtos manipulados.</p>
						<p>A Avicena conta com uma área de atendimento ampla e aconchegante com produtos naturais, chás, produtos orgânicos, homeopáticos e a linha de cosméticos Adcos.</p>
						<p>Além dos produtos, a Avicena Pharmacia também oferece serviços de aferição de pressão arterial e glicemia.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/Ceam1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Saúde Ceam <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="http://www.ceam.com.br/" target="_blank">Visite o site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ceam do Brasil <i class="mdi-navigation-close right"></i></span>
                        <p>O Grupo Ceam Brasil, hoje, é uma empresa sólida e moderna e está entre as melhores operadoras de Planos de Saúde do Brasil.</p>
                        <p>A constante atualização de sua estrutura e a permanente reciclagem de seus profissionais são alguns dos fatores responsáveis pelos altos índices de satisfação de seus beneficiários.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/shiitake1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Shiitake Cozinha Oriental <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="http://www.shiitakeitajuba.com.br/" target="_blank">Visite o site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Restaurante Shiitake <i class="mdi-navigation-close right"></i></span>
                        <p>O Restaurante Shiitake Cozinha Oriental é um dos melhores restaurantes da cidade de Itajubá. Conta com toda a qualidade, limpeza e organização de grandes restaurantes ao redor do mundo. O Shiitake trabalha com o sistema A La Carte, Rodízio e Delivery.</p>
                        <p>Além da culinária oriental, é servido pratos da culinária brasileira, como massas artesanais, grelhados (frango, carnes, peixes), à milanesa, fritas, e outros...</p>
                        <p>O Shiitake possui conforto diferenciado e organização exemplar de seus funcionários. Salão com uma nova decoração, mais moderna, charmosa, voltada à cultura oriental. Fora o ar condicionado, música ambiente e wifi.</p>
                    </div>
                </div>
            </div>
			<div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/coroados1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Hotel Coroados <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="http://www.hotelcoroados.com.br/" target="_blank">Visite o site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Hotel Coroados <i class="mdi-navigation-close right"></i></span>
                        <p>O Hotel Coroados é especialista em promover conforto e bem-estar de seus clientes na acolhida e oferecer hospedagem a preço justo. Oferecem excelência em seus serviços, comodidade em suas instalações e treinamento à toda equipe.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/g9.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Curso G9<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="http://www.curso-g9.com.br/" target="_blank">Visite o site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Curso G9<i class="mdi-navigation-close right"></i></span>
                        <p>O Curso G9 tem colocado em prática uma proposta coerente de escola, cujo objetivo é oferecer aos alunos ensino de qualidade e oportunidades que atendam às necessidades do mundo atual. Contando com uma equipe de professores qualificados e em constante aperfeiçoamento pedagógico.</p>
                        <p>Ao entrar no G9, sente-se o entusiasmo dos alunos. Isso se deve ao ambiente, criado para que eles se sintam descontraídos e motivados. O resultado é uma escola aconchegante e marcada pelo relacionamento de respeito e urbanidade entre alunos, professores e funcionários.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/piccolo.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Piccolo<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="https://www.facebook.com/piccolo.bebidasesabores" target="_blank">Visite a fanpage</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Empório Piccolo - Bebidas e Sabores<i class="mdi-navigation-close right"></i></span>
                        <p>Aqui se encontra grande veriedade de vinhos, cervejas, chocolates importados, massas, molhos, queijos e o verdadeiro Bacalhau Morhua Imperial.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax2.png"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> A Empresa </h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card card-avatar">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d921.9390733885491!2d-45.43723517076567!3d-22.438196759506074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb632052800ab7%3A0x514c16c4845328ef!2sS%C3%A3o+Bento+Desinsetizadora!5e0!3m2!1spt-BR!2sbr!4v1476727983850" width="1230" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- <img class="activator" src="img/avatar1.png"> -->
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Av. Pe. Lourenço da Costa, 2255. Bairro: N. Sra. de Fátima - Itajubá/MG<br/>
                        <a href="https://wa.me/553536238338" target="_blank" class="green-text text-darken-1"><div class="teste"><img class="whatsapp_logo" src="img/wpp_logo.png"/></div>&nbsp&nbsp &nbsp (35) 3623-8338</a> - (35) 98842-8338<br/>
                        <h4><a href="mailto:adm@sbento.com.br?Subject=Contato%20site" target="_top"><small>adm@sbento.com.br</small></a></h4></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row" style="margin: 0;">
            <div class="col l3 s12">
                <h5 class="white-text">Redes Sociais</h5>
                <ul style="display: inline-flex; margin: 0;">
                    <li>
                        <a class="white-text" href="https://www.facebook.com/sbentoitajuba/" target="_blank">
                            <img src="img/facebook.png"/><i class="small fa fa-facebook-square white-text"></i>
                        </a>
                    </li>
                    <li style="margin-left: 8px;">
                        <a class="white-text" href="https://instagram.com/sbento_itajuba">
                            <img src="img/instagram.png"/><i class="small fab fa-instagram white-text"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color footerdev">
        <div class="container">
            <p style="font-size: 0.8rem;">2021 - Todos os direitos reservados</p>
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>
    <script src="min/jquery-confirm-master/js/jquery-confirm.js"></script>
    
    </body>
</html>
