<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="strict-origin" />
    <title>Yout Next Home</title>
    
    <meta property="og:title" content="Your Next Home">
    <meta property="og:description" content="Choose wifh us your next home to live a rest of your life!">
    <meta property="og:url" content="https://mateusrios.dev.br/templates/yournexthome/">
    <meta property="og:image" content="imgs/og.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Your Next Home">
    
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="imgs/favicon/site.webmanifest">
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navfixed navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="index.html"><img src="imgs/logoonly-nexthome.png" alt="Your Next Home" class="img-responsive">&nbsp&nbspYour Next Home</a>
                </div>
            </div>
            
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="logo-menu"><a href="index.html"><img src="imgs/logo-nexthome.png" alt="yournexthome" class="img-responsive"></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="onlymobile"><a href="index.html">Home</a></li>
                        <li><a href="#about-internal">About</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <section id="mortgage-internal" class="internal" style="min-height: 100vh;">
        <div class="container">
            <div class="msg-success" style="display:none;"><div class="row"><div class="alert alert-success"  role='alert'><b>Thank you!</b> Email sent successfully.</div></div></div>
            <div class="msg-error" style="display:none;"><div class="row"><div class="alert alert-danger" role='alert'>Oh no! Someting wrong. Try again later, please?</div></div></div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="internal-header" data-aos="fade" data-aos-delay="300">
                        <p>use our</p>
                        <h1>Contact your next home</h1>
                    </div>
                </div>
            </div>
            <div id="contact-us" class="row">
                <div class="col-sm-12 calculator-container"  data-aos="fade-up">
                    <div class="row">
                        <div class="col-sm-3" data-aos="fade" data-aos-delay="300">
                            <img src="imgs/logocontact.png" alt="Your Next Home" class="img-responsive img-contact">
                        </div>
                        <div class="col-sm-9">
                            <div class="person-name" data-aos="fade-right" data-aos-delay="300">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Your Next Home
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="social">
                                            <a href="https://facebook.com/" target="_blank"><div class="social-btn"><i class="fab fa-facebook-square"></i></div></a>
                                            <a href="https://instagram.com/" target="_blank"><div class="social-btn"><i class="fab fa-instagram-square"></i></div></a>
                                            <a href="https://www.linkedin.com/" target="_blank"><div class="social-btn"><i class="fab fa-linkedin"></i></div></a>
                                            <a href="https://www.youtube.com/" target="_blank"><div class="social-btn"><i class="fab fa-youtube-square"></i></div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <ul data-aos="fade-right" data-aos-delay="500">
                                        <li><i class="fas fa-mobile-alt"></i>&nbsp&nbsp (555) 555-0000</li>
                                        <li><i class="far fa-envelope"></i>&nbsp&nbsp yournexthome@mail.com</li>
                                        <li><i class="far fa-building"></i>&nbsp&nbsp 885 Center Park - New York, NY<br></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <a href="https://wa.me/5515996236179/" target="_blank">
                                        <button style="width: 100%; color: #FFF; background-color: #8a7948;">Call me on Whatsapp</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Your Next Home</h4>
                    <p class="person-occupation">Lorem ipsum dolor sit incidunt doloremque<br>pariatur ad ex explicabo commodi!</p>
                    <h4 class="title-form">Contact</h4>
                    <p class="address"><i class="far fa-building"></i>&nbsp&nbsp 885 Center Park<br>
                        New York, NY<br>
                        <i class="fas fa-mobile-alt"></i>&nbsp&nbsp (555) 555-0000<br>
                        <a href="mailto:yournexthome@mail.com"><i class="far fa-envelope"></i>&nbsp&nbsp yournexthome@mail.com</a></p>
                </div>
                <div class="col-sm-5 footer-middle">
                    <div class="social-footer">
                        <h4 class="title-form">Follow me on social media</h4>
                        <a href="https://facebook.com/" target="_blank"><div class="social-btn"><i class="fab fa-facebook-square"></i></div></a>
                        <a href="https://instagram.com/" target="_blank"><div class="social-btn"><i class="fab fa-instagram-square"></i></div></a>
                        <a href="https://www.linkedin.com/" target="_blank"><div class="social-btn"><i class="fab fa-linkedin"></i></div></a>
                        <a href="https://www.youtube.com/" target="_blank"><div class="social-btn"><i class="fab fa-youtube-square"></i></div></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="partners">
                        <a href="https://wa.me/5515996236179/" target="_blank">
                            <button>Call me on Whatsapp</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="totop" href="#mortgage-internal"><button id="btntotop" title="Go to top"><i class="fas fa-chevron-up"></i></button></a>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>