<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="strict-origin" />
    <title>Yout Next Home</title>
    
    <meta property="og:title" content="Your Next Home">
    <meta property="og:description" content="Choose wifh us your next home to live a rest of your life!">
    <meta property="og:url" content="https://mateusrios.dev.br/templates/yournexthome/">
    <meta property="og:image" content="imgs/og.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Your Next Home">
    
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="imgs/favicon/site.webmanifest">
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navfixed navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="index.html"><img src="imgs/logoonly-nexthome.png" alt="Your Next Home" class="img-responsive">&nbsp&nbspYour Next Home</a>
                </div>
            </div>
            
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="logo-menu"><a href="index.html"><img src="imgs/logo-nexthome.png" alt="yournexthome" class="img-responsive"></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="onlymobile"><a href="index.html">Home</a></li>
                        <li><a href="#about-internal">About</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <section id="testimonials" class="internal">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="internal-header" data-aos="fade" data-aos-delay="200">
                        <p>Testimonials</p>
                        <h1>What our clients say</h1>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="testimonials-container" data-aos="fade-up" data-aos-delay="300">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="testimonial" data-aos="fade-up" data-aos-delay="100">
                                    <img src="imgs/testimonials-aspas.png" alt="Says" class="img-responsive aspas">
                                    <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta alias quas numquam sunt sed dolorum dolorem ea distinctio, laboriosam necessitatibus consequuntur dolor quidem culpa, debitis perspiciatis libero tempore, eum architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad odit similique omnis dolorum fuga? Reprehenderit optio autem impedit corporis, ducimus numquam esse maiores, expedita minus odit veniam. Harum, sunt possimus!"</p>
                                    <div class="">
                                        <p class="name"><strong>Bill Gates</strong></p>
                                        <div class="stars">
                                            <ul>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="testimonial" data-aos="fade-up" data-aos-delay="100">
                                    <img src="imgs/testimonials-aspas.png" alt="Says" class="img-responsive aspas">
                                    <p class="testimonial-text">Laboris fugiat consequat quis laborum ipsum velit. Pariatur pariatur adipisicing veniam anim sit amet aute enim laboris. Anim ea officia cillum ipsum esse laborum ipsum laboris ipsum est ullamco est aliqua id. Quis dolor laborum eiusmod ad exercitation cillum irure consectetur ea ad aliquip. Laborum adipisicing deserunt labore aliqua laborum Lorem amet excepteur labore. Esse anim adipisicing dolore ad culpa do tempor nostrud exercitation elit elit.</p>
                                    <p class="testimonial-text">Aliquip veniam do laboris eu officia et est velit laborum officia. Labore sit in et ea esse in laboris eu mollit est qui nulla aute est. Qui Lorem nulla nisi ad amet dolor ut incididunt eiusmod consectetur sint amet nulla id. Fugiat eiusmod elit ea eu reprehenderit aliquip consequat mollit ipsum magna. Velit commodo adipisicing deserunt excepteur laboris consectetur adipisicing occaecat exercitation consequat amet. Nulla officia esse fugiat irure exercitation ullamco.</p>
                                    <p class="testimonial-text">Lorem velit dolor sint eiusmod. Voluptate enim nisi commodo eu ipsum sint enim in occaecat veniam tempor dolor. Cupidatat deserunt et Lorem laborum ipsum eiusmod cupidatat cillum dolor laboris anim exercitation irure eiusmod. Magna veniam pariatur velit eu qui cillum consequat ullamco commodo reprehenderit.</p>
                                    <div class="name-stars-right">
                                        <p class="name"><strong>Elon Musk</strong></p>
                                        <div class="stars">
                                            <ul>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="testimonial" data-aos="fade-up" data-aos-delay="100">
                                    <img src="imgs/testimonials-aspas.png" alt="Says" class="img-responsive aspas">
                                    <p class="testimonial-text">"Soluta alias quas numquam sunt sed dolorum dolorem ea distinctio, laboriosam necessitatibus consequuntur dolor quidem culpa, debitis perspiciatis libero tempore, eum architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad odit similique omnis dolorum fuga? Reprehenderit optio autem impedit corporis, ducimus numquam esse maiores, expedita minus odit veniam. Harum, sunt possimus!"</p>
                                    <div class="">
                                        <p class="name"><strong>Steave Jobs</strong></p>
                                        <div class="stars">
                                            <ul>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="testimonial" data-aos="fade-up" data-aos-delay="100">
                                    <img src="imgs/testimonials-aspas.png" alt="Says" class="img-responsive aspas">
                                    <p class="testimonial-text">Voluptate enim nisi commodo eu ipsum sint enim in occaecat veniam tempor dolor, lorem velit dolor sint eiusmod. Voluptate enim nisi commodo eu ipsum sint enim in occaecat veniam tempor dolor. Cupidatat deserunt et Lorem laborum ipsum eiusmod cupidatat cillum dolor laboris anim exercitation irure eiusmod. Magna veniam pariatur velit eu qui cillum consequat ullamco commodo reprehenderit. Magna veniam pariatur velit eu qui cillum consequat ullamco commodo reprehenderit.</p>
                                    <div class="name-stars-right">
                                        <p class="name"><strong>Barack Obama</strong></p>
                                        <div class="stars">
                                            <ul>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                                <li><img src="imgs/yellow_star.png" alt="Great"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Your Next Home</h4>
                    <p class="person-occupation">Lorem ipsum dolor sit incidunt doloremque<br>pariatur ad ex explicabo commodi!</p>
                    <h4 class="title-form">Contact</h4>
                    <p class="address"><i class="far fa-building"></i>&nbsp&nbsp 885 Center Park<br>
                        New York, NY<br>
                        <i class="fas fa-mobile-alt"></i>&nbsp&nbsp (555) 555-0000<br>
                        <a href="mailto:yournexthome@mail.com"><i class="far fa-envelope"></i>&nbsp&nbsp yournexthome@mail.com</a></p>
                </div>
                <div class="col-sm-5 footer-middle">
                    <div class="social-footer">
                        <h4 class="title-form">Follow me on social media</h4>
                        <a href="https://facebook.com/" target="_blank"><div class="social-btn"><i class="fab fa-facebook-square"></i></div></a>
                        <a href="https://instagram.com/" target="_blank"><div class="social-btn"><i class="fab fa-instagram-square"></i></div></a>
                        <a href="https://www.linkedin.com/" target="_blank"><div class="social-btn"><i class="fab fa-linkedin"></i></div></a>
                        <a href="https://www.youtube.com/" target="_blank"><div class="social-btn"><i class="fab fa-youtube-square"></i></div></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="partners">
                        <a href="https://wa.me/5515996236179/" target="_blank">
                            <button>Call me on Whatsapp</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="totop" href="#testimonials"><button id="btntotop" title="Go to top"><i class="fas fa-chevron-up"></i></button></a>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>